/* SCSS HEX */
$color-night-0: #0e0f0f;
$color-night-1: #121212;
$color-eerie-black: #181a1b;
$color-timberwolf: #d6d2cd;
$color-timberwolf-op-1: #d6d2cd1a;
$color-platinum: #e8e6e3;
$color-platinum-op-3: #e8e6e34d;
$color-platinum-op-5: #e8e6e380;
$color-platinum-op-8: #e8e6e3cc;
$color-jonquil: #ffd335;
$color-deep-pink: #ec368d;
$color-deep-pink-op-5: #ec368d80;
$color-silver: #bab4ab;

$color-night: #121212;
$color-timberwolf-2: rgba(221, 218, 213, .3);
$color-platinum-10: rgba(232, 230, 227, .9);
$color-platinum-50: hsla(36, 10%, 90%, .5);
$color-platinum-80: rgba(232, 230, 227, .3);
$color-earle-black: #181A1B;

$font-poppins: 'Poppins', sans-serif;

$font-size-menu: 12px;
$font-size-data: 11px;
$font-size-title-xxx-large: 17vw;
$font-size-title-large: 40px;
$font-size-title-medium: 24px;
$font-size-title-small: 20px;
$font-size-title-x-small: 16px;
$font-size-description-large: 20px;
$font-size-description-medium: 16px;
$font-size-description-small: 14px;
$font-size-comment: 14px;
$font-size-atsign: 12px;

$spacing-medium: 1rem;
$spacing-height-x-large: 48px;
$spacing-height-large: 24px;
$spacing-height-small: 20px;
$spacing-height-x-small: 16px;